<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Lab34 <%= title %></p>
    <a href="api/getListCar">List Cars</a>
  </body>
</html>
